
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: radial-gradient(ellipse at center, #333 0%, #111 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.0rem;                /* Moderately large title */
    color: #ffd900a4;                   /* Golden color */
    font-weight: normal;              /* Regular font weight for a less imposing look */
    letter-spacing: 2px;             /* Mild spacing between letters */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.215); /* Soft shadow for depth */
    margin-top: 20px;                /* Space at the top */
    background-color: rgba(0, 0, 0, 0.868); /* Slight transparency for a less imposing look */
    padding: 5px 10px;               /* Mild padding around the text */
    border-radius: 3px;              /* Slightly rounded corners */
    position: absolute;              /* Absolute positioning */
    top: 10px;                       /* Positioning it near the top */
    left: 50%;                       /* Centering it horizontally */
    transform: translateX(-50%);     /* Ensuring it's perfectly centered */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.0rem;                /* Adjusted font size for smaller screens */
        padding: 5px;                   /* Adjusted padding for smaller screens */
    }
}

#poetryDisplay {
    font-size: 2.0rem;                /* Enlarged font size for the poem */
    transition: color 1s, transform 1.5s;
    transform: scale(1);
    text-align: center;
    max-width: 90vw;
    z-index: 1;                      /* Ensuring the poem overlays on other elements if they overlap */
    overflow: hidden;                /* Preventing overflow */
}

body:hover #poetryDisplay {
    transform: scale(1.1);
}
